<div
    style="width: 100%;display: grid;grid-template-columns: repeat(2, 1fr);grid-template-rows: 1fr;grid-column-gap: 0px;grid-row-gap: 0px;">
    <div style="display:flex;flex-direction:row; align-items:center;margin:1rem 2rem; font-size:1.6rem">
        {{name}}</div>
    <div style="display:flex;flex-direction:row-reverse;align-items:center">
        <a href="/users/publish/" class="primary-button" style="width:auto;margin: 1rem 2rem">publish</a>
    </div>
</div>
<div class="showGrid"
    style="width: 100%;display: grid;grid-template-columns: repeat(6, 1fr);grid-template-rows: 1fr;grid-column-gap: 0px;grid-row-gap: 0px;">
    {{! <div class="container showGrid" style="padding:0rem 0px; max-width:100%;margin:1rem 0px"> }}
        <div class="center"
            style="margin: 20px 0rem 20px 2rem; padding-bottom:1rem; justify-content:left; border-bottom:2px solid black">
            Name</div>
        <div class="center"
            style="margin: 20px 0px 20px 0px ;padding-bottom:1rem; justify-content:center;border-bottom:2px solid black">
            Scholar Name</div>
        <div class="center"
            style="margin: 20px 0rem 20px 0px;padding-bottom:1rem; justify-content:center;border-bottom:2px solid black">
            Scholar Email</div>
            <div class="center"
            style="margin: 20px 0px 20px 0px ;padding-bottom:1rem; justify-content:center;border-bottom:2px solid black">
            Submitted On</div>
        <div class="center"
            style="margin: 20px 0px 20px 0px ;padding-bottom:1rem; justify-content:center;border-bottom:2px solid black">
            Status</div>
        <div class="center"
            style="margin: 20px 0px 20px 0px ;padding-bottom:1rem; justify-content:center;border-bottom:2px solid black">
            Last Status Update</div>
        {{!
    </div> }}
    {{#each thesisList}}
        <div class="center"
            style="margin: 20px 0rem 20px 2rem; padding-bottom:1rem; justify-content:left;border-bottom:2px solid rgb(204, 204, 204)">
            {{this.name}}</div>
        <div class="center"
            style="margin: 20px 0px 20px 0px ;padding-bottom:1rem; justify-content:center;border-bottom:2px solid rgb(204, 204, 204)">
            {{this.scholarName}}</div>
        <div class="center"
            style="margin: 20px 0px 20px 0px ;padding-bottom:1rem; justify-content:center;border-bottom:2px solid rgb(204, 204, 204)">
            {{this.scholarEmail}}</div>
        <div class="center"
            style="margin: 20px 0px 20px 0px ;padding-bottom:1rem; justify-content:center;border-bottom:2px solid rgb(204, 204, 204)">
            {{this.submittedOn}}
        </div>
        <div class="center"
            style="margin: 20px 0px 20px 0px ;padding-bottom:1rem; justify-content:center;border-bottom:2px solid rgb(204, 204, 204)">
            {{this.status}}
        </div>
        <div class="center"
            style="margin: 20px 0px 20px 0px ;padding-bottom:1rem; justify-content:center;border-bottom:2px solid rgb(204, 204, 204)">
            {{this.statusUpdatedOn}}
        </div>
    {{/each}}
</div>