{{!-- <div class="container" style="max-width: 95%;">
    <div class="error">
        {{error}}
    </div>
    <form action="/users/profileCompletion" method="post">
        <div class="title">Profile</div>
        <div class="input-box">
            <input type="text" name="name" placeholder="{{name}}" value="{{name}}"  readonly="true" required />
            <div class="underline"></div>
        </div>
        <div class="input-box">
            <input type="text" name="email" placeholder="{{email}}" value="{{email}}"  readonly="true" required />
            <div class="underline"></div>
        </div>
        <h2>Professional</h2>
        <div class="input-box">
            <input type="text" name="institute" placeholder="UIT RGPV" value="UIT RGPV" required />
            <div class="underline"></div>
        </div>
        <div class="input-box">
            <select name="department" id="department">
            {{#each departments}}
                <option value="{{this.name}}">{{this.name}}</option>
            {{/each}}
            </select>
            <div class="underline"></div>
        </div>
        <div class="input-box">
            <select name="role" id="role">
            {{#each roles}}
                <option value="{{this.name}}">{{this.name}}</option>
            {{/each}}
            </select>
            <div class="underline"></div>
        </div>
        <hr>
        <h2>Scholar</h2>
        (*If a student)
        <div class="input-box">
            <input type="text" name="rollNo" placeholder="Roll No." value=""/>
            <div class="underline"></div>
        </div>
        <div class="input-box">
            <input type="date" name="dateOfJoining" placeholder="Date Of Joining" value=""/>
            <div class="underline"></div>
        </div>
        <hr>
        <h2>Mentor</h2>
        (*If a faculty)
        <div class="input-box">
            <input type="text" name="pfId" placeholder="PFID"/>
            <div class="underline"></div>
        </div>
        <button class="primary">Continue </button>
    </form>
    {{! <button onclick="window.location.href= '/resumes">Cancel</button> }}
    <a href="/users/" class="button">Cancel</a>
    {{! </button> }}
</div> --}}